*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.body {
    background-color: #000000;
}

.inactivated {
    pointer-events: none;
    /* position: fixed; */
}

.App {
    background-color: #FFFFFF;
    min-width: 660px;
    max-width: 1100px;
    width: 90%;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #312e2b;
    border-radius: 5px;
    padding: 0 10px;
}

.name-header > h2 {
    color: #312e2b;
    padding-top: 0;
    margin: 10px 0;
}
/* might be able to extract all this button styling to another class */
button.save-cache-button {
    padding: 6px 12px;
    border: none;
    margin:0 5px 0 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color:#FFF;
    text-align:center;
    transition: all 0.15s;
    background-color: #FFF;
    font-size: 14px;
    background-image: linear-gradient(30deg, #CC0C39 40%, #FF6138 85%, #FF6138 74px);
}

button.analyze-more {
    position: relative;
    padding: 6px 12px;
    border: none;
    margin:0 5px 0 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color:#FFF;
    text-align:center;
    transition: all 0.15s;
    background-color: #FFF;
    font-size: 14px;
    background-image: linear-gradient(30deg, #0f0ccc 40%, #389fff 85%, #389fff 74px);
}

.name-header-tooltip {
    /* background-color: black; */
    color: #000;
    /* border-radius: 5px; */
    padding: 2px 0;
    /* width: 200px; */
    /* position: absolute; */
}



.dashboard-center {
    width: 100%;
}

.chart-tabs {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 15px 6px 0 0;

}

.chart-tabs > button {
    border:none;
    border-bottom: 2px solid #000;
    padding: 5px 10px;
    margin: 0 6px 0 0;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    /* border:0.16em solid #312e2b; */
    /* margin:0 0.3em 0.3em 0; */
    /* box-sizing: border-box; */
    /* text-decoration:none; */
    /* text-transform:uppercase; */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight:bold; */
    /* color:#0c090d; */
    /* text-align:center; */
    /* transition: all 0.15s; */
    /* background-color: #FFF; */
    /* font-size: 14px; */
}

.chart-tabs > button:hover{
    color:#04f;
    border-color:#04f;
	cursor:pointer;
}

.chart-tabs > button.active{
    color:#04f;
    font-weight: bold;
    /* border-color:#3369ff; */
    border-color: #04f;
    /* background-color: #668fff; */
}

.chart-container {
    min-width: 600px;
    min-height: 400px;
    height: 400px;
    display: flex;
    margin: 10px 0 20px 0;
}

.main-chart {
    min-width: 400px;
    flex-grow: 2;
    margin: 0;
    border: 1px solid #777;
    border-radius: 5px;
}

.chart-sidebar {
    width: 250px;
    flex-grow: 0;
    border-radius: 5px;
    height: max-content;
    /* padding: 5px; */
    margin: 0 0 0 10px;
}
.chart-inner-sidebar {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    padding-top: 5px;
    border-radius: 2px;
}
.select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 12px 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}
.select::-ms-expand {
    display: none;
}

.custom-select {
    /* width: 100%; */
    /* min-width: 15ch; */
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    border: 1px solid black;

    padding: 0.25em 0.5em;
    margin: 5px 0 10px 0;
    /* font-size: 1.25rem; */
    cursor: pointer;
    line-height: 1.9;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: block;
    /* grid-template-areas: "select"; */
    /* align-items: center; */
}

/* .custom-select, .custom-select:after {
    grid-area: select;
} */
.custom-select:after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    position:absolute;
    justify-self: end;
    margin: 11px 16px 11px -15px;
}

.chart-choices-list {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 1px solid grey;
}

.chart-choices-list > li {
    height: 30px;
    /* border-top: 1px solid grey; */
    /* line-height: 2; */
    border-bottom: 1px solid grey;
    padding: 5px 10px;
}
.chart-choices-list > li:first-child {
    border-top: 1px solid grey;
}

.chart-choices-list > li[data-selected="true"] {
    background-color: #c2d2ff;
}

.chart-list-label {
    margin: 1px 0;
    font-size: 18px;
}

.table-list-label {
    margin: 1px 0;
    font-size: 18px;
}

.yellow-button {
    height: 40px;
    width: 175px;
    padding:0.5em 2em;
    border:0.16em solid #ffab23;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color:#f09400;
    background-color: #ffee70;
    text-align:center;
    transition: all 0.15s;
    cursor:pointer;
    font-size: 15px;


    /* 
    background:linear-gradient(to bottom, #ffec64 5%,  100%);
	background-color:#ffec64;
	border-radius:5px;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66; */
}

#modal {
    z-index: 1000;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.modal-root-form {
    border-radius: 10px;
    box-shadow: 0 .3rem .63rem .07rem rgba(0,0,0,.4);
    border: 1px solid rgba(0,0,0,.4);
    background-color: #FFFFFF;
}
.username-form {
    max-width: 350px;
    height: max-content;
    border-radius: inherit;
    z-index: inherit;
}

.saved-profiles {
    margin: 5px 0 5px 5px;
    font-size: 18px;
}

.message {
    margin-left: 5px;
}

/* .saved-profiles > span {
    text-decoration: 1px solid #a9a9a9;
} */

.profile-name {
    border: 1px solid #a9a9a9;
    border-bottom-color: #a9a9a9;
    padding: 0 0 0 9px;
    margin: 5px;
    min-width: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    display: inline-flex;
}

.profile-name > span {
    cursor: pointer;
}
.profile-name > i {
    width: 25px;
    margin: 0 10px;
    color: #f00;
    cursor: pointer;
}


/*
background colors: green - #85A94E
blue: 0091f7
red: e03131
*/
.username-form-instructions {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091f7; 
    padding: 5px 0 0 0;
    margin: 0;
    clip-path: ellipse(63% 76% at 50% 22%);
    border-radius: inherit;
    height: 90px;
}

.chesscom-login-instructions {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #892cf9;
    padding: 5px 0 0 0;
    margin: 0;
    clip-path: ellipse(63% 76% at 50% 22%);
    border-radius: inherit;
    height: 90px;
}

.username-form-input {
    padding: 10px !important;
    margin: 10px 10px 0 10px !important;
    width: calc(100% - 20px) !important;
    border: 1px solid black;
}

.username-form-buttons {
    display: flex;
    height: 40px;
    margin: 10px;
    width: calc(100% - 20px);   

}

button {
    cursor: pointer;
}
button.orange-button {
    background-color: #f19729;
    border: 1px solid #b16100;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
button.grey-button {
    font-weight: bold;
    font-size: 16px;
    background-color: #e7e7e7;
    color:#666463;
    border: 1px solid rgb(118, 118, 118);
    /* border: none; */
    border-radius: 2px;
}
button.green-button {
    border: 1px solid rgb(63, 133, 43);
    border-radius: 2px;
    color: white;
    font-weight: 900;
    font-size: 17px;
    background-color: rgb(98, 169, 78);
}

.username-form-buttons > button:last-child {
    margin-right: 0;
}
.username-form-buttons > button {
    flex-grow: 1;
    margin-right: 5px;
}

.form-content {
    text-align: center;
    margin: 10px;
}

.form-content > span, .form-message > span {
    text-decoration: underline #000 dotted;
}

.form-message {
    margin: 10px 10px 15px 10px;
}

.form-message > label {
    display:block;
    font-weight: bold;
    text-align: center;
}

.terms-conditions {
    margin: 10px 0 10px 10px;
}

.terms-conditions > div {
    margin: 5px 0;
}

input[type="checkbox"] {
    position: absolute;
}
input[type="checkbox"] ~ label {
    display: inline-block;
    padding-left: 1.4em;
}

.form-page-counter {
    display: flex;
    justify-content: center;
}
.form-page-counter > div {
    width: 10px;
    height: 10px;
    background-color: #c2c2c2;
    margin: 0 5px 5px 0;
    border-radius: 50%;
}

.form-page-counter > div.selected {
    background-color: #666463;
}

.modal-analysis-progress {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 .3rem .63rem .07rem rgba(0,0,0,.4);
    border: 1px solid rgba(0,0,0,.4);
    background: white;
    padding: 0 20px;
}

.modal-analysis-progress > h1 {
    text-align: center;
    font-size: 30px;
}

.loadingSpinner {
    padding-left: calc(48% - 25px);
    /* margin-bottom: 10px; */
    display:block;
    width: 100%;
    height: 60px;
}

.progress-bar {
    width: 100%
}

progress[value] {
    width: 100%;
}

.debugging-logs {
    resize: none;
    width: 100%;
    height: 90px;
    margin: 10px 0;
    border: 1px solid black;
}


.no-data-message {
    text-align: center;
}

/* */
.resources-page {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 800px;
    overflow-y: scroll;
}

.resources-page {
    padding: 10px 0;
}

.resources-section {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.resources-section:first-child {
    margin-top: 10px;
}

.resources-section > h2 {
    margin: 0;
    border-bottom: 2px solid black;
}

li.carousel-images-opening > img {
    width: calc(100% / 3);
}

.amazon-product {
    margin: 5px;
}

figure.resource-figure {
    margin-left: 0;
}

figure.resource-figure > ul {
    margin-top: 0;
    padding-left: 25px;
}

.resources-section h3 {
    margin-bottom: 7px;
    margin-top: 20px;
}

.product-category {
    display: inline-block;
    margin-right: 20px;
}

.product-category > label {
    display:block;
    /* font-weight: bold; */
}

.bold-me {
    font-weight: bold;
}

.disclosure-policy {
    font-size: 15px;
    margin: 0;
}

.buyall-button {
    width:max-content;
    height: 40px;
    padding: 5px 15px;
    margin: 10px;
    border: none;
    color:white;
    border-radius: 5px;
    text-transform: none;
    font-size: 18px;
    display: flex;
    justify-content: center;

    /* border: 2px solid #ff668f; */
    /* color: black; */
    background-color: #f09400;

}

.buyall-button > .shopping-cart-icon {
    /* display: inline;
    position: relative; */
    margin-right: 15px;
}
.buyall-button > div {
    margin-top: 2px;
}

.thank-you > h3 {
    margin-bottom: 0;
    font-size: 20px;
}
.thank-you > p {
    margin-top: 0;
}

.thank-you {
    margin-top: 20px;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    outline: 1px solid #708090;
  }

.info-button {
    width: 100%;
    margin-top: 10px;
    padding: 0.5em 2em;
}

.percent-value > button {
    border: 2px solid #000;
    min-width: 50px;
    width:max-content;
    height: 50px;
    background: #FFF;
    color: #000;
    margin-right: 5px;
    margin-top: 10px;
}

.percent-value > button:hover {
    color: #000;
}

div.percent-value > button[data-selected="true"] {
    background-color: #c2d2ff;
}
